// Variables

// font family

$font-family:       'proxima-nova-regular','open sans',helvetica neue, helvetica, arial, sans-serif;
$font-bold:			'proxima-nova-bold','open sans',helvetica neue, helvetica, arial, sans-serif;
$font-regular:		'proxima-nova-regular','open sans',helvetica neue, helvetica, arial, sans-serif;

// base values

$base-font-size: 	16px;
$base-line-height: 	1.5;

// main colors

$dark-blue: 		#169298;
$blue: 				#54C5C9;
$light-blue: 		#7FDBDF;

$dark-purple: 		#573BA9;
$purple: 			#7157BE;
$light-purple:  	#937DD5;

$red: 				#FF6E6A;

$yellow: 			#FBB423;
$dark-yellow: 		#D49004;

$gray: 				#EFF3F6;

$green:				#83DD80;

$background-color:  #eff3f8;

// text colors

$text-color: 		#3a3a3a;
$text-color-light: 	#A1A7AF; 

// borders

$border-color: 		#E6EAEE;

// icons

$icon-color: 		#A1A7AF;


//cards

$card-padding:		12px 20px 15px;